/* ==================================================================
    The normal stuff
   ================================================================== */

html {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #333333;
	background-color: #fefefe;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAJklEQVR4AWN8w4AKiBN4wyACJCEYIiCCUPAGXQumCgyBATIDwy8AO0YmCT7I0wQAAAAASUVORK5CYII=');
	background-repeat: repeat;
	font-size: 12pt;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	padding-left: 1em;
}
body.ausgabe {
	font-family: Arial, sans-serif;
	width: 640px;
	background: #ffffff;
}
div.wrapper {
	width: 960px;
	margin: 0 auto;
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background: #fafafa;
}
p {
	padding: 0;
	margin: 0.3em 0;
}
a {
	color: #1E5799;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:active, a:focus{
	color: #1E5799;
	text-decoration: underline;
	font-weight: bold;
}

.smalltext {
	font-size: 8pt;
}

/* ==================================================================
    The title
   ================================================================== */
h1 {
	font-size: 20pt;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 0.5em 0;
	padding: 0.5em 0;
	text-align: center;
}
h1.title {
	border-bottom: 2px solid #e7cf00;
	color: #594500;
	background: #fff9c6;
	background: linear-gradient(to bottom, #fff9c6 0%,#fff07f 100%);
	text-shadow: 1px 1px 1px #fefefe;
	font-weight: bold;
	font-size: 25pt;
}

/* ==================================================================
    The description
   ================================================================== */
div#description {
	float: right;
	width: 320px;
}
div#description article {
	border: 1px solid #e7cf00;
	background-color: #fff9c6;
	margin: 0em 1em 1em;
	padding: 0.5em;
	font-size: 10.5pt;
	font-style: italic;
	word-wrap: break-word;
}
img.logo {
	width: 120px;
	margin: 0.5em auto;
	display: block;
}

/* ==================================================================
    The input-fields
   ================================================================== */

div.input {
	width: 640px;
}


td input, td textarea {
	background: #ffffff;
	border: 1px solid #b0b0b0;
	padding: 3px;
}
td input:focus, td textarea:focus {
	background: #FFFBE2;
	border: 1px solid #666666;
}
.checkbox {
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 1px;
}

/* ==================================================================
    The output
   ================================================================== */

div#output table {
	border: 0px solid black;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 640px;
}
div#output td {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0;
}
div#output tr {
	padding: 0;
	margin: 0;
}
.grey {
	background-color: #e0e0e0;
}
.t_l {
	width: 540px;
}
.t_r {
	width: 80px;
}

/* ==================================================================
    The footer
   ================================================================== */

p.footer {
	font-size: 10pt;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a0a0a0;
	padding: 0.5em;
	line-height: 1em;
	margin: 1.5em 0;
	background-color: #dadada;
}

/* ==================================================================
    ClearFix-Hack
   ================================================================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* ==================================================================
    Printing to teh papers :(
   ================================================================== */

@page { 
	size: portrait;
	
}

@media print {

	body {
		font-family: Arial, sans-serif;
		color: #000000;
		background-color: #ffffff;
		padding-left: 50px;
		line-height: 1.3em;
	}
	h1 {
		font-size: 11pt;
		margin: 1em 0;
	}

}