body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #333333;
	background-color: #fefefe;
	font-size: 12pt;
	padding-left: 1em;
	padding-top: 1em;
	width: 640px;
	line-height: 1.3em;
}
p {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 20pt;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}
h1.title {
	border-bottom: 2px solid #ccc;
}
article.info {
	border: 1px solid #e7cf00;
	background-color: #fff9c6;
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 10pt;
	font-style: italic;
}
article.info img.logo {
	height: 60px;
	float: left;
	margin-right: 1em;
}

div#output table {
	border: 0px solid black;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 640px;
}
div#output td {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0;
}
div#output tr {
	padding: 0;
	margin: 0;
}
.grey {
	background-color: #e0e0e0;
}
.t_l {
	width: 540px;
}
.t_r {
	width: 80px;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:active, a:focus{
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

p.footer {
	font-size: 10pt;
	border: 1px solid #a3a3a3;
	padding: 0.5em;
	line-height: 1em;
	margin: 1.5em 0;
	background-color: #eee;
}

/* ClearFix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

	body {
		font-family: Arial, sans-serif;
		color: #000000;
		background-color: #ffffff;
		padding-left: 50px;
		line-height: 1.3em;
	}
	h1 {
		font-size: 11pt;
		margin: 1em 0;
	}

}