body {
	font-family: Arial, sans-serif;
	color: #000000;
	background-color: #ffffff;
	font-size: 12pt;
	padding-left: 50px;
	width: 640px;
}
h1 {
	font-size: 11pt;
	font-weight: bold;
	line-height: 1em;
	margin: 1em 0;
}
table {
	border: 0px solid black;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 640px;
}
td {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0;
}
tr {
	padding: 0;
	margin: 0;
}
.grey {
	background-color: #e0e0e0;
}
.t_l {
	width: 540px;
}
.t_r {
	width: 80px;
}
.text {
	line-height: 1.3em;